body {
  font-family: 'Segoe UI';
  text-align: center;
  margin-top: 50px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #4286f4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #387ef5;
}
